<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>HabluChat</h5>
                <p class="small">Connect and chat with people around the world.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/about" class="text-white">About</a></li>
                    <li><a href="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p class="small">
                    Email: info@habluchat.com<br>
                    Phone: (123) 456-7890
                </p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col text-center">
                <p class="small mb-0">&copy; <%= new Date().getFullYear() %> HabluChat. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer></div>